@media screen and (min-width: 600px) {
  #medium {
    display: inline;
  }
  #small {
    display: none;
  }
  #large {
    display: none;
  }
}

li,
a {
  display: inline-block;

  text-decoration: none;
  justify-content: space-between;
}
.flex-container-tablet-top {
  border: 16px solid red;
}
