@media screen and (min-width: 1024px) {
  #medium {
    display: none;
  }
  #small {
    display: none;
  }
  #large {
    display: inline;
  }
}
/* li,
a {
  display: inline-block;

  text-decoration: none;
  justify-content: space-between;
  padding: 10px;
  margin-left: 100px;
  font-size: 20px;
} */
.flex-container-top {
  border: 16px solid red;
}
.flex-container-middle {
  border: 16px solid green;
  display: flex;
  flex-direction: row;
}
.flex-container-bottom {
  border: 16px solid blue;
  display: flex;
  flex-direction: row;
}
